@import '../base/settings.scss';

.footer__wrapper {
    height:100px;
    width:100vw;
    background-color: #fff;
    display:flex;
    justify-content: center;
    align-items: center;
}
.info__wrapper {
    width:100%;
    display:flex;
    justify-content: center;
}
.tmdb-logo{
    height:50px;
    color: $purple;
}

.info__wrapper ul {
    list-style:none;
    display:flex;
    align-items: center;
    justify-content: center;
    width:50%;

}
.info__wrapper ul li {
    font-size:2.5rem;
    color: #fff;
    margin-right:25px;
    height:100%;
    line-height:4.5rem;
}
.info__wrapper ul li a {
    text-decoration:none;   
    color:$purple;
}
.info__wrapper ul li a:hover{
    color:$purpleLighten;
}